@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */


  #root, #__next {
    isolation: isolate;
  }

  .image-wrapper {
    width: 35vw;
    height: auto;
    position: relative;
  }

  .image-wrapper > img {
    height: 100vh;
  }

  .odinlogo-background {
    font-family: "norsebold",sans-serif;
    position: absolute;
    top: 250px;
    display: flex;
    height: 180px;
    width: 35vw;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / .5);
    font-size: 7.5rem;
  }

  .odinlogo-background > img {
    width: 15%;
    height: 85%;
  }

  .main-content {
    flex: 1;
    background-color: #b0cece;
    display: flex;
    flex-direction: column;
  }

  .main-content * {
    flex: 1;
  }

  .middle {
    background-color: #d3ebeb;
    max-height: 30%;
  }

  .top {
    font-weight: bold;
    max-height: 35%;
    padding: 50px;
    padding-top: 230px;
    font-size: 1.5rem;

  }

  .top :first-child {
    margin-bottom: 30px;
  }

  .bottom {
    max-height: 35%;
    padding: 50px;
  }

  .bottom :first-child {
    margin-bottom: 30px;
    font-size: 1.1rem;
  }

  .bottom :last-child {
    font-size: 1.2rem;
  }

  button {
    padding: 10px 60px 10px;
    border: 0px solid black;
    background-color: #1b3442;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #1b3442;
    font-weight: bold;
  }




